@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root { /* Declarando as variáveis de cores*/
    --cor-primaria: #071952;
    --cor-secundaria: #0B666A;
    --cor-terciaria: #35A29F;
    --cor-hover: #97FEED;

}

.body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #1A2B41;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}