@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #1A2B41;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 35rem;
}

.img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: large;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.form-floating{
    width: 30rem;
    margin: 5px;
}

.modal-content{
    width: 60vw;
    height: 50vh;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30rem;
    height: 15rem;
}

.reset-senha{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25rem;
    height: 25rem;
}

.form-group{
    width: 20rem;
    margin: 5px;
}

.button-google{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.btn{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.resetsenha{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

